<style type="text/css">
 .ig
 {
 	text-align: justify;
 	font-size: 1.2em;
 	margin-left: 2cm;
 	margin-right: 2cm;
 }

 .kedb
 {
   margin-top: 40px;
   font-size: 2em;
 }
</style>
<% provide(:title, "KNOWN ERROR DATABASE (KEDB)") %>
<h1 class = "kedb"><u>KNOWN ERROR DATABASE (KEDB)</u></h1>
<div class="ig">
 A known error database (KEDB) is a database that describes all of the known issues within the overall systems. It describes the situations in which these issues appear, and when possible, it offers a workaround that will get the user around the problem and back to productive work.

This database also becomes part of the overall Problem Management Database, where IT can go to identify and prioritize problems that need permanent resolutions. Workarounds are only temporary fixes so that work can continue until problems are inevitably resolved. The known error database should include screenshots of the issues, as well as the text of error messages, and describes the issue from the point of view of the user.
</div>