<h3 class= "tation"><u>Update Solution</u></h3>
<div class = "for">
 <%= render 'form' %>
</div>
<p style="text-align:center; margin-left:10px;" >
<%= link_to 'Show', @solution %> |
<%= link_to 'Back', solutions_path %>
</p>