<div class ="home">
<% provide(:title, "KNOWN ERROR DATABASE (KEDB)") %>

<p class = "ig">KNOWN ERROR DATABASE (KEDB)</p>
<br>
<br>
<div class = "bn">
<input type="button" class="btn btn-primary btn-lg" onclick="location.href='solutions';" value="Search for Solution" /> | 
<input type="button" class="btn btn-primary btn-lg" onclick="location.href='scripts';" value="Search for Scripts" />
</div>
</div>